header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 0 .5em;
    input{
        width: 40%;
        height: 2em;
        border-radius: 5px;
        border: 1px solid black;
        padding-left: 1em;
        outline: none
    };
}

body{
    position: relative;
        width: 80%;
        margin:  auto;
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 3em;
    }    
}
